{% extends 'chatter/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Login - Chatter{% endblock title %}

{% block content %}
<div class="small-container">
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" class="btn btn-primary mb-2" value="login">
  </form>
  <a href="{% url 'login' %}">Login with existing account</a>
</div>
{% endblock content %}
